html {
    scroll-behavior: smooth;

}
body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.m-heading {
    color: blanchedalmond;
}
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBBQ9-aBTfm3ii3xArovYi4zDgPZ4ZPtDdw9LFcCBxwQ&s=10);
    background-attachment: fixed;
    background-size: cover;
}
.main_row {
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_row h1 {
    font-size: 5rem;

}

.main_row img {
    width: auto;
    height: 100vh;
}